:root {
  --left-space: 48px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./Norse-Bold.otf");
}

.content {
  min-height: 100vh;
  display: flex;
}

/* Image Section */

.image-section {
  background-position: center center;
  background-image: url("./leaf-image.jpg");
  background-size: cover;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
}

a {
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: "Norse Bold";
  margin-top: 20vh;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner img {
  height: 125px;
}

.banner h2{
  margin: 0;
}

/* Text Section */

.text-section {
  flex: 5;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section > p {
  font-size: 1.4rem;
  margin-left: var(--left-space);
  margin-bottom: 8px;
}

.text-section p:first-child {
  margin-top: 0;
}

.inputs-section {
  color: black;
  background-color: white;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: var(--left-space);
  box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.inputs-section h3 {
  margin-top: 0;
}

.inputs > div {
  display: flex;
  gap: 64px;
  margin-bottom: 18px;
}

.inputs label {
  display: block;
}

#create-account {
  margin-left: var(--left-space);
  margin-top: 32px;
  border: none;
  background-color: #596D48;
  padding: 12px 48px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

p.log-in {
  font-size: 1rem;
  margin-top: 32px;
}

.log-in a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}

