body {
  margin: 0;
  padding: 0;
}

.content {
  min-height: 100vh;
  display: flex;
}

/* Image Section */

.image-section {
  background-image: url("./leaf-image.jpg");
  background-size: cover;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attribution {
  color: white;
  text-align: center;
  
}

a {
  color: white;
}

/* Text Section */

.text-section {
  flex: 5;
}

