body {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
}

.content {
  min-height: 100vh;
  display: flex;
}

/* Image Section */

.image-section {
  background-image: url("./leaf-image.jpg");
  background-size: cover;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
}

a {
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 20vh;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner img {
  height: 150px;
}

/* Text Section */

.text-section {
  flex: 5;
}
